<!DOCTYPE html>
<html lang = "en" class="start-page">
<head>
    <title>PasteMaster</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='image/pageImage.png')}}" />
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='image/pageImage.png')}}" />

    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/site.css') }}">
    <link href="https://fonts.cdnfonts.com/css/printed-circuit-board-7" rel="stylesheet">
    <script src="{{ url_for('static',filename='jquery-3.6.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='site.js') }}"></script>
</head>
<body>

<h2 id="start-page" class="header cursor-pointer" title="Home" style="font-size: 75%;">PasteMaster</h2>
<div id="test-element">
    <img src="./pcb" alt="pcb image" class="pcb-image"></img>
    <div id="img-box" class="pcb-text">
        <h1 id="pcb-options" class="option-header">Options</h1>
        <!--p id="pcb-options" class="pcb-option" style="margin-top: 0px; margin-bottom: 5px;"> // bs dat jquery niet werkt
            <input type="checkbox" name="All" value="All">
            <label for="1">All</label>
        </p-->
    </div>
</div>

</body>
</html>