html, body {
  margin: 0;
  height: 100%;
}

.home-page,
.start-page,
.not-found-page {
  background-color: rgb(30, 110, 40);
}

.cursor-pointer {
  cursor: pointer;
}

.header {
  font-size: 350%;
  color: #d4af37;
  font-family: 'Printed Circuit Board-7', sans-serif;
  display: block;
  width: 8em;
  margin-left: auto;
  margin-right: auto;
}

.start-header {
  font-size: 200% !important;
}

.index-text {
  text-align: center;
  color: white;
}

.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #d4af37; 
  color: white; 
  border: 2px solid #d4af37;
}

.button1:hover {
  background-color: white;
  color: #d4af37;
}

.option-header{
  margin-left: 20px;
  margin-right: 15px;
}

input[type="checkbox"] {
  cursor: pointer;
}

/* .pcb-option:hover {
  background-color: rgba(32, 178, 34, 0.6);
} */

.pcb-text {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.pcb-image {
  width: 60%;
  /* height: 413px; */
  float: left;
  /* margin-left: 5px; */
  /* margin-top: 5px; */
  /* margin-bottom: 10px; */
  margin-right: 30px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
   .modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .7 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}